body {
	background-color: #bada55;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	font-family: Helvetica, Arial, sans-serif;
}

.main {
	background: rgba(255,255,255,0.8);
	width: 600px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 20px 5px rgba(255,255,255,0.8);

}

h1 {font-family: 'Amatic SC', cursive;
	font-size: 70px;
	color: purple;
	text-shadow: 3px 3px 0px black;
}

h1,
h2 {
	text-align: center;
}

h2 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 5px;
	border-top: 1px solid black;
	padding-top: 20px;
}

h3,
div p {
	margin-bottom: 0;
}

h3 {
	cursor: pointer;
}



/* This is a CSS comment */

img {
	width: 200px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: 30px gray;
}

p,
ul,
ol {
	line-height: 1.4;
	list-style: none;
	padding: 0;
}

h3.banana{
	color:red;
}

a{
	color: purple;
	font-weight: bold;
	text-decoration: none;
}
a:hover,
a:focus {
	color: blue;
	text-decoration: underline;
}

p {
	margin: 50px 0;
}